@if(isDevotion === false && isPrayerReq === false) {
  <div class="home-container">
  <h1 class="title">Welcome to FaithFlow 🙏</h1>
  <p class="subtitle">Stay grounded in God's Word and track your prayers.</p>

  <div class="button-group">
    <button class="home-button" (click)="devotionalClicked()" routerLink="devotionals">📖 Devotional</button>
    <button class="home-button" (click)="PrayerReqClicked()" routerLink="prayerRequests">🙏 My Prayer Requests</button>
  </div>
</div>


}
  

<app-devotional-card-component [isClicked]="isDevotion"/>
<app-prayer-requsts-list [isClicked]="isPrayerReq"/>