
   
<div class="devotional-card">
    <h2 class="devotional-title">{{ devotionalService.getDevotional().title }}</h2>
    <p class="devotional-date">{{ devotionalService.getDevotional().date }}</p>
    <p class="devotional-verse">“{{ devotionalService.getDevotional().verse }}”</p>
    <p class="devotional-scripture">{{ devotionalService.getDevotional().scripture }}</p>
    <p class="devotional-content">{{ devotionalService.getDevotional().content }}</p>
</div>

<div class="button-group">
   <button class="home-button" routerLink="">HOME</button>
   <button class="home-button" routerLink="prayerRequests">🙏 My Prayer Requests</button>
</div>



